@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helioslightlight';
    src: url('../fonts/helioslight-webfont.eot');
    src: url('../fonts/helioslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helioslight-webfont.woff2') format('woff2'),
         url('../fonts/helioslight-webfont.woff') format('woff'),
         url('../fonts/helioslight-webfont.ttf') format('truetype'),
         url('../fonts/helioslight-webfont.svg#helioslightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}